# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib



# IDEA
.idea/

# Ignore DS
**/.DS_Store

# GO
target/
**/vendor/
**/cover.out
.localstack
*.test
.env
.redis/
Dockerfile_perf

# React build
**/node_modules/

# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraformrc
**/terraform.rc
**/.terraform.lock.hcl
**/terraform.tfstate
**/*.j2
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terragrunt
**/.terragrunt-cache/

# Crash log files
crash.log
crash.*.log

# Project specific
**/_output/
**/build/
*.out
**/cert/